<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SeçimUygulama.Properties.Settings.SecimUygulamadbConnectionString"
            connectionString="Data Source=LAPTOP-GHKR07G1\SQLEXPRESS;Initial Catalog=SecimUygulamadb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>