USE [master]
GO
/****** Object:  Database [SecimUygulamadb]    Script Date: 31.08.2023 09:51:54 ******/
CREATE DATABASE [SecimUygulamadb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SecimUygulamadb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SecimUygulamadb.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SecimUygulamadb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SecimUygulamadb_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SecimUygulamadb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SecimUygulamadb]
GO
/****** Object:  Table [dbo].[tblilce]    Script Date: 31.08.2023 09:51:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblilce](
	[ID] [tinyint] NULL,
	[ILCEAD] [varchar](50) NULL,
	[AKP] [smallint] NULL,
	[CHP] [smallint] NULL,
	[MHP] [smallint] NULL,
	[IYIPARTI] [smallint] NULL,
	[ZAFERPARTI] [smallint] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tblilce] ([ID], [ILCEAD], [AKP], [CHP], [MHP], [IYIPARTI], [ZAFERPARTI]) VALUES (NULL, N'BAGCİLAR', 67, 89, 77, 33, 39)
INSERT [dbo].[tblilce] ([ID], [ILCEAD], [AKP], [CHP], [MHP], [IYIPARTI], [ZAFERPARTI]) VALUES (NULL, N'Bağcılar', 55, 23, 43, 15, 55)
INSERT [dbo].[tblilce] ([ID], [ILCEAD], [AKP], [CHP], [MHP], [IYIPARTI], [ZAFERPARTI]) VALUES (NULL, N'Esenler', 55, 23, 13, 56, 3)
USE [master]
GO
